.addContainer{
  border-top: 1px solid #ddd;
}


input {
  width: 80%;
  display: flex;
  border-radius: 5px;
  margin: 5px 5px;
}

.addNewButton {
  width: 30%;
  display: center;
}

h2{
  display: center;
}

.addRow {
  padding: 0.25rem 0;
  margin: 0px 20px;
  border-bottom: 1px solid #ddd;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  align-items: center;
  align-content: center;
}

.buttonRow {
  padding: 0.25rem 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* width: 98%; */
  margin: 5px 5px;
}