.addContainer{
  border-top: 1px solid #ddd;
}

input {
  width: 100%;
  border: 1px solid gray;
  padding: 15px;
  background: white;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  border-radius: 5px;
}

h2{
  display: center;
}

.addRow {
  padding: 0.25rem 0;
  /* margin: 0px 20px; */
  margin: 5px 5px;
  border-bottom: 1px solid #ddd;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  align-items: center;
  align-content: center;
}