.row {
  border: 1px solid gray;
  padding: 0.25rem 0;
  margin: 5px 5px;
  background: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.colLeft {
  width: 70%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.chk {
  color: #0fed64;
  padding: 5px;
  margin: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inline-block;
  border-radius: 100%;
}

a {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}

a:hover {
  color: #f58551;
}

.description {
  color: silver;
  font: italic;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.colRight {
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: flex-end;
}

.remove {
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.close {
  width: 60px;
  height: 60px;
  fill: #7d7d7d;
  transition: color 150ms linear, background-color 150ms linear,
    fill 150ms linear, 150ms opacity linear;
}

.close:hover {
  fill: #f58551;
}